# Exercise: Time Series Manipulations in Pandas

Like in prior exercises, you'll download a ticker's historical data from YahooFinance. But raw data isn't that useful by itself, so in this exercise you'll get practice with manipulating time series data in Pandas.

In [2]:
import pandas as pd
import yfinance as yf

**Pull data for your favorite ticker from YahooFinance**

Use the YF API to pull **daily** price data for at least 3 years for any stock ticker you'd like.

In [15]:
stock_ticker = 'AAPL'
start_date = '2022-07-11' # use format YYYY-MM-DD
end_date = '2025-07-11'

data = yf.download(tickers=[stock_ticker], start=start_date, end=end_date) # replace ... inside this function with the correct parameters in order to get your data

[*********************100%***********************]  1 of 1 completed

**Resample from daily to weekly, taking the Friday price**

Using the above data, resample your `closing` price to weekly. In the demo, we used the last day of the period. In this exercise, can you figure out how to pull the weekly data that's for Friday specifically?

In [18]:
data.head()

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2022-07-11  142.582504  144.324560  141.509719  143.369875  63141600
2022-07-12  143.556885  146.105985  142.759677  143.458458  77588800
2022-07-13  143.192749  144.137582  139.875950  140.732223  71185600
2022-07-14  146.125671  146.598088  140.988094  141.804990  78140700
2022-07-15  147.798843  148.477951  145.859948  147.415002  76259900

In [20]:
weekly_data_friday = data.resample('W-FRI').last()

**Taking time-based slice of your data**

Above you pulled the last 3 years of data for a given ticker. But in lots of trading applications, you don't need data that goes that far back in time as trends and underlying phenomenon have changed. 

Can you take just the last 3 months of data and put it into a new DataFrame?

In [36]:
last_3_months = data.loc[data.index.max() - pd.DateOffset(months=3):]

In [38]:
last_3_months.head()

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2025-04-10  190.170624  194.524915  182.760343  188.822401  121880000
2025-04-11  197.890488  199.278667  185.816325  185.856281   87435900
2025-04-14  202.254776  212.661128  200.896557  211.163092  101352900
2025-04-15  201.875275  203.243476  199.538343  201.595643   51343900
2025-04-16  194.015579  200.437151  192.118058  198.100219   59732400

In [40]:
last_3_months.tail()

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2025-07-03  213.550003  214.649994  211.809998  212.149994  34955800
2025-07-07  209.949997  216.229996  208.800003  212.679993  50229000
2025-07-08  210.009995  211.429993  208.449997  210.100006  42848900
2025-07-09  211.139999  211.330002  207.220001  209.529999  48749400
2025-07-10  212.410004  213.479996  210.029999  210.509995  44443600